@import url('https://fonts.googleapis.com/css?family=Headland+One|Lato|Merriweather|Neuton|Orienta|Puritan|Tauri|Vidaloka');

html {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    padding: 10px;
}
nav {
    background-color: #fff;
    padding: 20px;
}
footer {
    background-color: #fff;
    padding: 20px;
    font-family: Lato, sans-serif;
    font-size: 10px;
    text-align: center;
}
div {
    padding: 20px;
}
section {
    padding: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-color: #09ae95;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
}

li a:hover, .dropdown:hover .dropbtn {
    font-color: #00000f;
    background-color: #fff;
    text-decoration-color: #09ae95;
}

li.dropdown {
    display: inline-block;
    font-family: Lato, sans-serif;
    font-color: #fff;
    background-color: #09ae95;
    text-decoration-color: #fff;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-color: #00000f;
    background-color: #fff;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Lato, sans-serif;
    font-color: #09ae95;
    background-color: #fff;
}

.dropdown-content a:hover {
    font-color: #00000f;
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-color: #09ae95;
    background-color: #fff;
}
#hero {
    border: none;
    background:url(http://www.decoratingclear.com/gmb/beautiful-flower-garden-photography-11vefpuh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    padding: 18px;
}
#jennybio {
    border: none;
    padding: 20px;
    opacity: 1.0;
    max-height: 300px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#wrapper {
    background-color: #fff;
}
.center p{
    padding-top: 10px;
    text-align:center;
    font-color: #00000f;
}
#two_column {
    padding: 20px;
}
#left {
    padding: 2.5px;
    float: left;
    width: 71%;
   background-color: #fff;
   text-align: left;
   font-family: Lato, sans-serif;
   font-size: 14px;
   font-color: #cc0;
}
#right {
    padding: 1px;
    float: right;
    width: 27%;
    background-color: #ccc;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-color: #cc0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
body {
    font-family: Lato, sans-serif;
}
h1 {
    color: #fff; 
    font-family: Merriweather, serif;
    font-size: 52px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}
h2 {
    color: #fff;
    font-family: Merriweather, serif;
    font size: 45px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

h3 { 
    color: #cc0;
    font-family: Merriweather, serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

a:link {
    color: #09ae95;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration-color: #09ae95;
}

a:visited {
    text-decoration-color: #09ae95;
}


