@import url('https://fonts.googleapis.com/css?family=Headland+One|Lato|Merriweather|Neuton|Orienta|Puritan|Tauri|Vidaloka');

html {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    padding: 10%;
}
nav {
    background-color: #fff;
    padding: 1%;
}
footer {
    background-color: #fff;
    padding: 1%;
    font-family: Lato, sans-serif;
    font-size: .8em;
    text-align: center;
}
div {
    padding: .5%;
}
section {
    padding: .5%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-color: #09ae95;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: .3em .3em;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: .8em;
    font-weight: bold;
    background-color: #fff;
}

li a:hover {
    font-color: #00000f;
    background-color: #fff;
    text-decoration-color: #09ae95
    font-size: .8em;
}

#hero {
    border: none;
    background:url(http://www.decoratingclear.com/gmb/beautiful-flower-garden-photography-11vefpuh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    padding: .2%;
}
#jennybio {
    border: none;
    padding: .1%;
    opacity: 1.0;
    max-height: 85%;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#wrapper {
    background-color: #fff;
}
.center p{
    padding-top: .1%;
    text-align:center;
    font-color: #00000f;
}
#two_column {
    padding: .7%;
}
#left {
    padding: .75%;
    float: left;
    width: 71%;
   background-color: #fff;
   text-align: left;
   font-family: Lato, sans-serif;
   font-size: .9em;
   font-color: #cc0;
}
#right {
    padding: .2%;
    float: right;
    width: 27%;
    background-color: #fff;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: .8em;
    font-color: #00000f;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
body {
    font-family: Lato, sans-serif;
}
h1 {
    color: #fff; 
    font-family: Merriweather, serif;
    font-size: 2.7em;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}
h2 {
    color: #fff;
    font-family: Merriweather, serif;
    font size: 1.6em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

h3 { 
    color: #00000f;
    font-family: Merriweather, serif;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
}

a:link {
    color: #09ae95;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration-color: #09ae95;
}

a:visited {
    text-decoration-color: #09ae95;
}

@media screen and (max-width: 368px) and (max-height: 564px) {
body {
    font-size: 110%;
    }
}

@media (max-width: 368px) {
    #two_column {
        float: none;
        width: auto;
        margin: auto;
    }
}

@media only screen and (max-width: 368px) {
  nav {
    display: block;
    float: none;
    text-align: center;
  }
  nav a {
    margin: 0 1em 1em 0;
  }
  img {
    min-width: 50%;

  }
}



