html {
	background-color: #535556;
	background-image: url(http://www.decoratingclear.com/gmb/beautiful-flower-garden-photography-11vefpuh.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #535556;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-color: #09ae95;
    background-color: #535556;
}

li a:hover, .dropdown:hover .dropbtn {
    font-color: #09ae95;
    background-color: #535556;
}

li.dropdown {
    display: inline-block;
    font-color: #535556;
    background-color: #09ae95;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-color: #535556;
    background-color: #09ae95;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Calibri, sans-serif;
    font-color: #535556;
    background-color: #09ae95;
}

.dropdown-content a:hover {
	font-color: #535556;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-color: #535556;
    background-color: #09ae95;
}

body {
	font-family: Calibri, sans-serif;
	font-color: #fff;
	font-size: 11px;
	font-color: #fff;
	text-align: center;
}
h1 {
	color: #fff; 
	font-family: Calibri, sans-serif;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
p {
	color: #fff;
	font-family: Calibri, sans-serif;
	font-size: 14px;
	text-align: center;
}
a:link {
	color: #09ae95;
	text-decoration: none;
	text-decoration-line: none;
}
a:hover {
	text-decoration-color: #09ae95;
}

a:visited {
	text-decoration-color: #09ae95;
}
.center p{
	padding-top: 100px;
	text-align:center;
	font-color: #fff;
}

