body {
	background-color: gray; 
	background-image: url ("images/flowergarden.jpg");
	background-size: cover;
	color: #fff;
	font-family: Helvetica;
}
h1, p {
	color: #fff; 
	font-family: Helvetica;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
