html {
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-color: #09ae95;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
}

li a:hover, .dropdown:hover .dropbtn {
    font-color: #00000f;
    background-color: #fff;
    text-decoration-color: #09ae95;
}

li.dropdown {
    display: inline-block;
    font-color: #fff;
    background-color: #09ae95;
    text-decoration-color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-color: #00000f;
    background-color: #fff;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-color: #09ae95;
    background-color: #fff;
}

.dropdown-content a:hover {
	font-color: #00000f;
	background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-color: #09ae95;
    background-color: #fff;
}
#hero {
    border: none;
    background:url(http://www.decoratingclear.com/gmb/beautiful-flower-garden-photography-11vefpuh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    padding:150px;
}

body {
	font-family: Helvetica, sans-serif;
	font-color: #fff;
	font-size: 20px;
	font-color: #fff;
	text-align: center;
	background-color: #cccccc;
}
h1 {
	color: #fff; 
	font-family: Helvetica, sans-serif;
	font-size: 52px;
	text-align: center;
	text-decoration: none;
	font-weight: bolder;
}
h2 {
	color: #fff;
	font-family: Helvetica, sans-serif;
	font size: 45px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
p {
	color: #f4eff0;
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
	font-weight: bolder;
}
a:link {
	color: #09ae95;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration-color: #09ae95;
}

a:visited {
	text-decoration-color: #09ae95;
}
.center p{
	padding-top: 100px;
	text-align:center;
	font-color: #00000f;
}

